<!-- QiushuiShotai Bright -->
<link rel='stylesheet'
    href='https://ik.imagekit.io/eosmos/QiushuiShotai%20Bright/result.css' />
<!-- Source Han Serif CN VF --> 
<link rel='stylesheet'
    href='https://834832894.r.cdn36.com/chinesefonts3/packages/syst/dist/SourceHanSerifCN/result.css' />
<!-- LXGW WenKai -->
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css' />
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwwenkai/dist/LXGWWenKai-Bold/result.css' />
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwwenkai/dist/LXGWWenKai-Light/result.css' />
<!-- Smiley Sans Oblique -->
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/dyh/dist/SmileySans-Oblique/result.css' />
<!-- Zhuque Fangsong (technical preview) -->
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/zqfs/dist/ZhuqueFangsong-Regular/result.css' />
<!-- YouSheShaYuFeiTeJianKangTi -->
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/syftjkt/dist/优设鲨鱼菲特健康体/result.css' />
<!-- MaoKenTangYuan (beta) -->>
<link rel='stylesheet'
    href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/mkwtyt/dist/MaoKenTangYuan/result.css' />

<link rel='stylesheet'
href='https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/pmzdxxt/dist/庞门正道细线体/result.css' />